---
- name: Create pods using deployment 
  hosts: kubernetes 
  become: true
  user: root
 
  tasks: 
  - name: create a deployment
    command: kubectl apply -f kal-deployment.yml
#kal-deployment.yml is already copied n the kubernetes cluster
 
  - name: update deployment with new pods if image updated in docker hub
    command: kubectl rollout restart deployment.v1.apps/kal-deployment
